@import "./bootstrap/bootstrap.scss";
$colors: ("secondary": #6f75e4,
    "primary": #06d6a0,
    "dark-1": #001233,
    "dark-cards": #142442,
    "dark-2": #1F2632,
    "lighter-dark": #1d2b44,
    "font-1": #dee2ff,
    "font-2": #bed7f0,
    "font-3": #8d99ae,
    "gray": #999aa2,
    "white": #fff,
    "black": #000,
);
$font-monospace: "Roboto Mono",
monospace;
$font-regular: "Inter",
sans;
$grid-columns: 13;
@import "./bootstrap/bootstrap.scss";

@function color($colorName) {
    @return map-get($map: $colors, $key: $colorName);
}

::-moz-selection {
    // color: color("white");
    background: #cddafd3f;
}

::selection {
    // color: color("white");
    background: #cddafd3f;
}

body {
    color: color(font-1);
    font-family: $font-regular;
    background-color: color(dark-1);
}

.monospace {
    font-family: $font-monospace;
    color: color(primary);
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
}

section {
    padding-bottom: 5em;
}

a {
    color: color(primary);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    cursor: ne-resize;
}

.heading--3 {
    font-size: 4em;
    font-weight: 600;
}

.heading--2 {
    font-size: 2em;
    font-weight: 700;
}

.heading--2::before {
    content: attr(sn);
    color: color(primary);
    font-family: $font-monospace;
    margin-right: .6em;
    font-size: .7em !important;
    font-weight: 400;
}

.heading--2::after {
    content: "───────";
    color: color('lighter-dark');
    margin-left: 1em;
    height: .1em;
}

.paragraph {
    font-size: 1.1em;
    color: color(font-2);
    line-height: 2em;
}

.link a {
    font-size: 1em;
    transition: 0.5s all;
}

.link a:hover {
    color: color("white");
    transition: 0.5s all;
    text-decoration: none;
}


.button {
    border: .1em solid color(primary);
    border-radius: .3em;
    padding: .8em 1.3em;
    font-family: $font-monospace;
    font-size: 1.1em !important;
    letter-spacing: normal;
}

.button:hover {
    background: color(primary);
    color: color("white");
}

.container-fluid {
    width: 70%;
}

#nav {
    font-family: $font-monospace;
    padding-top: 2em;

    .navbar-brand img {
        height: 30px !important;
        width: auto;
        transition: 0.4s;
    }

    .navbar-toggler {
        font-size: 2em;
        color: color(primary);
    }

    .nav-item {
        font-weight: 500;
        margin: auto 0.8em;
        font-size: 1.3em;
        text-transform: capitalize;
        vertical-align: center;

        a {
            color: color(font-2);
        }
    }

    .nav-item a:hover,
    .nav-item a.active {
        color: color("white");
    }

    .nav-item a:active {
        a::after {
            content: ".";
        }
    }

    label {
        display: flex;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
    }

    label span {
        background: #fff;
        border-radius: 10px;
        height: 4px;
        margin: 4px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }


    span:nth-of-type(1) {
        width: 50%;

    }

    span:nth-of-type(2) {
        width: 100%;
    }


    span:nth-of-type(3) {
        width: 75%;

    }


    input[type="checkbox"] {
        display: none;
    }


    input[type="checkbox"]:checked~span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px)
    }


    input[type="checkbox"]:checked~span:nth-of-type(2) {

        transform-origin: top;
        transform: rotatez(-45deg)
    }


    input[type="checkbox"]:checked~span:nth-of-type(3) {

        transform-origin: bottom;
        width: 50%;
        transform: translate(20px, -5px) rotatez(45deg);

    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        height: 40px;
    }
}


#header-section {
    padding-bottom: 5em;
    margin-top: 4em;

    .name-section {
        .heading--1 {
            font-size: 5em;
            font-weight: 600;
            color: color("white");
        }

    }

    .desc {
        width: 80%;

        .intro {
            width: 60%;

            p {
                span {
                    a:hover {
                        text-decoration: none;
                        color: color(primary);
                        border-bottom: .1em dashed color(primary);
                    }
                }
            }
        }
    }

}


@media only screen and (max-width: 768px) {

    #header-section {
        padding-bottom: 2em;

        .name-section {
            .heading--1 {
                font-size: 2em;
            }

        }

        .desc {
            width: 100%;

            .intro {
                width: 100%;

            }
        }

    }

}

#contact-about {
    padding: 5em 0;

    .contact-info {
        .small-text {
            padding: 0.5em 0;
        }

        .paragraph {
            line-height: 1.7em;
            padding: 0.5em 0;
        }

        .link {
            padding: 1em 0;
        }

        .mobile {
            font-size: 1.2em;
            font-weight: 500;
        }
    }

    .about-sec {
        .skills {
            width: 80%;

            li {
                list-style: none;
                padding: .2em 0;
                font-family: $font-monospace;
            }

            li::before {
                content: "▸";
                color: color(primary);
                margin-right: .5em;
            }
        }

    }

    .image-section {
        figure {
            background: color(primary);
            border-radius: .3em;
        }

        figure img {
            border-radius: .3em;
            opacity: .5;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        figure img:hover {
            opacity: 1;
        }
    }

}



@media only screen and (max-width: 768px) {
    #contact-about {
        padding: 2em 0;

        .about-sec {
            .skills {
                width: 100%;
            }

        }

        .image-section {
            margin-top: 2em;
        }

    }
}

#projects {
    padding: 5em 0;

    .row {
        margin: 5em 0;

    }

    .image {
        figure {
            background: color(primary);
            border-radius: .3em;
        }

        figure img {
            border-radius: .3em;
            opacity: .5;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        figure img:hover {
            opacity: 1;
        }
    }

    .right {
        text-align: right;

        .desc {
            padding: 1em 2.5em 1em 1em;
            margin-left: -6em;
            z-index: 5;
        }

    }

    .left {
        text-align: left;

        .desc {
            padding: 1em 1em 1em 2.5em;
            margin-right: -6em;
        }
    }

    .contents {
        z-index: 1;

        .heading {
            margin-bottom: 2em;

            h4 {
                a {
                    font-weight: 600;
                    color: color(font-1);
                    font-size: 1.4em;
                }
            }

            a:hover {

                text-decoration: none;
                color: color(primary);
            }

            p {
                margin: 0;
            }

            .monospace {
                font-size: .9em;
                font-weight: 500;
            }
        }

        .desc {
            background: color(dark-cards);
            border-radius: .3em;
            z-index: 3;


            p {
                line-height: 1.7em;
                font-size: 1em;
            }
        }

        .tools {
            margin: .3em 0;
            font-size: .9em;
            font-weight: 400;
            color: color(font-3);
        }

        .links {
            margin-top: 2em;

            a {
                margin-left: 1.3em;

                ion-icon {
                    font-size: 1.3em;
                    color: color(font-1);
                }
            }

            a:hover {
                ion-icon {
                    color: color(primary);
                }

            }
        }
    }

    .more-projects {
        .row {
            margin: 3em 0;
        }

        .single-project {
            background: color(dark-cards);
            border-radius: .4em;
            padding: 1em;
            transition: .5s all;

            .icon {
                font-size: 2.5em;
                color: color(primary);
            }

            .links {
                a {
                    margin-left: 1.3em;

                    ion-icon {
                        font-size: 1.3em;
                        color: color(font-1);
                    }
                }

                a:hover {
                    ion-icon {
                        color: color(primary);
                    }

                }
            }

            .project-title {
                a {
                    color: color(font-1);
                    text-decoration: none;
                    transition: .5s;
                }

                a:hover {
                    color: color(primary);
                    transition: .5s;
                }
            }

            .tools {
                font-family: $font-monospace;
                font-size: .9em;
                color: color(font-3);
            }
        }

        .single-project:hover {
            transform: translateY(-10px);
            transition: .5s all;
            cursor: ne-resize;

            .project-title {
                a {
                    color: color(primary);
                    transition: .5s;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #projects {
        padding: 2em 0;

        .right,
        .left {
            text-align: left;

            .desc {
                padding: .5em;
                margin: 0;
            }

        }

        .contents {

            .heading {
                margin-bottom: 1.5em;

                h4 {
                    a {

                        font-size: 1.1em;
                    }
                }
            }

            .links {
                margin-top: 1em;

                a {
                    margin-left: 1em;
                }
            }
        }

        .more-projects {
            h2 {
                font-size: 1.8em;
            }

            .row {
                margin: 3em 0;

                .col-12 {
                    margin-top: 3em;
                }
            }
        }
    }
}



#contact {
    padding-top: 5em;
    padding-bottom: 1em;

    .container-fluid {
        width: 40%;

        p.monospace {
            margin: 0;
        }

        .monospace {
            font-weight: 400;
            font-size: .9em;
        }

        h2 {
            font-weight: 700;
        }

        p.paragraph {
            padding: 2em 0;
        }
    }

    ion-icon {
        font-weight: 600;
        color: color(secondary);
    }


    .copyright {
        padding-top: 5em;

        img {
            height: 30px;
        }

        .social {
            margin-top: 1em !important;

            a {
                text-align: center;
                text-decoration: none;

                ion-icon {
                    margin: 0 0.2em;
                    color: color(font-1);
                    font-size: 1.5em;
                    transition: 0.5s all;
                    padding: .3em;
                    border-radius: 50%;
                }

                ion-icon:hover {
                    background-color: color(primary);
                    transition: 0.5s all;
                }
            }
        }

        .copy {
            color: color(font-2);
            font-weight: 500;

            i {
                color: #FC427B;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #contact {
        padding-top: 2em;

        .container-fluid {
            width: 90%;

            p.paragraph {
                padding: 1em 0;
            }
        }

        .copyright {
            padding-top: 2em;
        }
    }

}



@media only screen and (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }


    .link a {
        font-size: 1em;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
    }

    .button {
        padding: .5em 1em;
        font-size: 1em !important;
    }

    .heading--3 {
        font-size: 1.5em;
    }

    .monospace {
        font-size: .9em;
    }

    section {
        padding-bottom: 5em;
    }

    .heading--2 {
        font-size: 1.5em;
    }

    .heading--2::after {
        content: none;
    }

    .paragraph {
        font-size: 1em;
        line-height: 2em;
    }

    .link a {
        font-size: 1em;
    }
}