<footer>
    <div class="mx-auto max-w-3xl px-4 flex justify-between py-8 ">
        <a href="/" aria-label="Home">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 79 79">
                <g transform="translate(-502 -524)">
                    <rect width="79" height="79" rx="14" transform="translate(502 524)" fill="#14b8a6" /><text
                        transform="translate(521 587)" fill="#0f172a" font-size="63" font-family="Geist"
                        font-weight="700">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </svg>
        </a>
        <div class="text-right">
            <nav class="text-sm md:text-base">
                <ul class="flex flex-col gap-4 md:gap-8 sm:flex-row justify-end">
                    {{range .socials }}
                    <li>
                        <a href="{{.link}}"
                            class="underline-offset-2 hover:underline-offset-4 transition-all  block text-gray-400 hover:text-white !no-underline hover:!underline"
                            target="_blank">{{.name}}
                        </a>
                    </li>
                    {{end}}
                </ul>
            </nav>
            <span class="text-gray-500 mt-4 block sm:mt-2 text-sm">&copy;2024 Bimal Timilisna</span>
        </div>
    </div>
</footer>