<meta charSet="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{site.Title}}{{ end }}</title>
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{site.Title}}{{ end }}" />
<meta property="og:description"
    content="{{ if .IsPage }}{{ or .Params.description .Params.summary .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Params.summary .Summary }}{{ end }}" />

<link rel="icon" type="image/svg" href="{{site.BaseURL}}{{site.Params.favicon}}" hreflang="en-us">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink}}" />
<meta property="og:site_name"
    content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{site.Title}}{{ end }}" />
<meta property="og:image" content="{{ .Params.cover}}" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="800" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="en_US">
<meta name="description"
    content="{{ if .IsPage }}{{ or .Params.description .Params.summary .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Params.summary .Summary }}{{ end }}">
<meta name="keywords"
    content="development machine-learning bimal bimal-timilsina timilsina llm large-language-models rag">
<meta itemprop="name" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{site.Title}}{{ end }}">
<meta itemprop="description"
    content="{{ if .IsPage }}{{ or .Params.description .Params.summary .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Params.summary .Summary }}{{ end }}">
<meta itemprop="image" content="{{ .Params.cover}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ .Permalink}}">
<meta name="twitter:site" content="@timilsinabml05">
<meta name="twitter:creator" content="@timilsinabml05">
<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{site.Title}}{{ end }}">
<meta name="twitter:description"
    content="{{ if .IsPage }}{{ or .Params.description .Params.summary .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Params.summary .Summary }}{{ end }}">
<meta name="twitter:image:src" content="{{ .Params.cover}}">
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="robots" href="/robots.txt" />
<meta name="msapplication-TileColor" content="#0f172a" />
<meta name="theme-color" content="#0f172a" />
<meta name="next-head-count" content="29" />

{{- $style := resources.Get "css/style.css" -}}
<link rel="stylesheet" href="{{$style.Permalink}}" />

<script src="https://cdn.jsdelivr.net/npm/js-polyfills@0.1.43/polyfill.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' type="text/javascript"
    charset="utf-8"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

{{- $script := resources.Get "js/script.js" -}}
<script type="text/javascript" src="{{$script.Permalink}}" defer=""></script>

<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script
    type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });</script>