<section id="writing" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Blog posts">
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
            Writing</h2>
    </div>
    <div>
        <ul class="flex flex-col gap-5 md:gap-6">
            {{ range $.Data.Pages }}
            <li class="text-gray-400 md:text-lg">
                <a href="{{.RelPermalink}}" class="link inline text-teal-300">
                    <h2 class="inline font-medium">{{.Title}}</h2>
                </a>
                <span class="mx-2">&mdash;</span>
                <time datetime="{{.Date }}">{{.Date.Format "Jan 02, 2006"}} </time>
            </li>
            {{end}}

        </ul>
    </div>
</section>