{{ $categories := site.Taxonomies.categories }}

<section class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Blog posts">
    <div>
        <div class="flex justify-right gap-2 flex-wrap py-5 mt-5">
            {{ range .Data.Terms}}
            <a class="bg-teal-500 rounded-md px-3 py-2 mr-2 mb-2 text-sm font-semibold text-white hover:bg-teal-700 hover:transition-all "
                href="{{ .Page.RelPermalink }}"> <span>{{.Page.Title}}</span><span
                    class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-black bg-blue-100 rounded-full">
                    {{.Count}}
                </span></a>

            {{end}}
        </div>

    </div>
</section>