@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

/* ROOT PROPERTIES */

:root {
	--main-bg-gradient: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
	--primary: #29ffc6;
	--shadow: #ddd;
	--white: #fff;
	--background: rgba(154, 231, 222, 0.123);
	--black: #000;
}

/* universal  */
html,
body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "Poppins", sans-serif;
	word-break: normal;
	background: #e8e8e8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

p {
	padding: 0.2em;
	font-size: 1.1em;
	line-height: 1.6em;
}

/* ===============================================================
BUTTON STYLES
===================================================================== */

button:hover {
	cursor: pointer;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

.btn:focus,
.btn:active {
	outline: none !important;
	border: none;
	box-shadow: none;
}

/*=========================================================================
 anchor tag 
 ========================================================================*/
a {
	text-decoration: none;
	color: var(--white);
}

a:focus {
	outline: none !important;
}

a:hover {
	color: var(--white);
}

/* HEADER */

.header-color {
	background: var(--main-bg-gradient);
	height: 60%;
	width: 100%;
}

.intro .myCard {
	border-radius: 2em;
	box-shadow: 0.2em 0.2em 1em var(--shadow);
	background-color: var(--white);
	padding: 1.5em;
	margin-top: -25%;
	margin-bottom: 3%;
}

.intro img {
	padding: 0;
	border-radius: 2em;
}

@media (max-width: 768px) {
	.intro .myCard {
		margin-top: -10%;
	}
	.header-color {
		height: 10%;
	}
}
.intro span {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 2.5em;
}

.intro h1 {
	text-transform: uppercase;
	font-weight: bolder;
	line-height: 1em;
	letter-spacing: 0.1em;
}

.intro h6 {
	letter-spacing: 0.2em;
	font-weight: 600;
	font-size: 1.1em;
	text-transform: uppercase;
	line-height: 2em;
}

.intro p {
	padding: 0.4em 0.9em 0.2em 0em;
	line-height: 1.8em;
}

.intro li {
	list-style: none;
	padding-bottom: 0.8em;
	font-size: 1.05em;
}

.intro li i {
	padding-right: 0.5em;
	color: var(--primary);
	font-size: 1.2em;
}

/* SOCIAL BUTTONS */
.social-btns .btns,
.social-btns .btns:before,
.social-btns .btns .fa {
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btns:before {
	top: 90%;
	left: -110%;
}

.social-btns .btns .fa {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.social-btns .btns.linkedin:before {
	background-color: #0e76a8;
}

.social-btns .btns.linkedin .fa {
	color: #0e76a8;
}

.social-btns .btns.github:before {
	background-color: #3cf;
}

.social-btns .btns.github .fa {
	color: #3cf;
}

.social-btns .btns.email:before {
	background-color: #dc4a38;
}

.social-btns .btns.email .fa {
	color: #dc4a38;
}

.social-btns .btns.instagram:before {
	background-color: #f26798;
}

.social-btns .btns.instagram .fa {
	color: #f26798;
}

.social-btns .btns.wordpress:before {
	background-color: #00aff0;
}

.social-btns .btns.wordpress .fa {
	color: #00aff0;
}

.social-btns .btns:focus:before,
.social-btns .btns:hover:before {
	top: -13%;
	left: -13%;
}

.social-btns .btns:focus .fa,
.social-btns .btns:hover .fa {
	color: #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.social-btns .btns {
	display: inline-block;
	background-color: #fff;
	width: 3em;
	height: 3em;
	line-height: 3em;
	margin: 0 5px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 30%;
	box-shadow: 0.2em 0.2em 1em rgba(0, 2, 14, 0.158);
	opacity: 0.99;
}

.social-btns .btns:before {
	content: "";
	width: 130%;
	height: 130%;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.social-btns .btns .fa {
	font-size: 1.8em;
	/* line-height: 3.5em; */
	vertical-align: middle;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}
