<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{partial "site/head.html" .}}
</head>

<body class="bg-slate-900 leading-relaxed text-slate-400 selection:bg-teal-300 selection:text-teal-900">
    <div class="font-sans group/spotlight relative">
        <div id="glow_box" class="pointer-events-none position-fixed inset-0 z-30 transition duration-300 lg:absolute">
        </div>
        <div id="scroll-progress" class="bg-teal-400 h-0.5 fixed top-0 left-0 z-50">
        </div>
        <main>
            <div class="mx-auto">
                <article>
                    <div>
                        <div class="mx-auto px-4 max-w-4xl">
                            <header class="pt-16 md:pt-20 lg:pt-28 mb-5 md:mb-16 ">
                        
                                <div class="text-lg text-center text-gray-400 my-5 font-regular">
                                    <time>{{.Date.Format "January 02, 2006"}}</time>
                        
                                </div>
                                {{partial "site/breadcrumb.html" .}}
                                <h1
                                    class="text-5xl text-center font-medium tracking-normal leading-loose md:text-4xl lg:text-5xl text-slate-200">
                                    {{.Title}} </h1>

                            </header>
                        </div>
                        <div>
                            {{ if .Params.cover}}
                            <figure class="w-full">
                                <img src="{{.Params.cover}}" alt="" class="w-full h-auto">
                                <figcaption class="text-center text-sm mt-2 text-gray-300">
                                    {{if .Params.caption}}{{.Params.caption}}{{end}}
                                </figcaption>
                            </figure>
                            {{end}}
                        </div>
                        <div class="mx-auto px-4 max-w-4xl">
                            <div
                                class="prose prose-invert md:prose-lg article prose-headings:font-medium mt-6 prose-headings:text-white prose-a:text-underline prose-a:underline-offset-2 transition-all prose-figure:object-center prose-hr:m-0 prose-figcaption:text-center prose-figcaption:italic prose-blockquote:text-2xl prose-blockquote:text-center prose-blockquote:border-none md:prose-th:px-6 prose-th:py-3 prose-thead:bg-gray-800 prose-thead:uppercase prose-thead:text-sm md:prose-td:px-6 prose-td:py-4 even:prose-tr:bg-gray-800   prose-td:border-slate-900 prose-td:border-4 prose-th:border-slate-900 prose-th:border-4 mx-auto">
                                {{ .Content | safeHTML | emojify }}

                            </div>
</div>

                    </div>
                </article>
                <div class="mx-auto px-4 max-w-4xl">
                    <div class="flex justify-between gap-2 flex-wrap py-5 mt-5">
                        <div class="tags inline-flex justify-left gap-2 flex-wrap">
                            {{ range .Params.Tags}}
                            <a class="bg-teal-400/20 rounded-full px-3 py-2 text-sm text-teal-300 hover:bg-teal-400/30 hover:text-white hover:transition-all"
                                href="{{ site.BaseURL  }}tags/{{. | urlize}}"> <span>{{.}}</span></a>
                            {{end}}
                        </div>

                        <p class="text-right text-md">Last Updated: {{.Lastmod.Format "02 Jan, 2006"}}</p>
                        </div>
                        {{partial "site/article_footer.html" $.Site.Data}}
                        <button id="to-top-button" onclick="scrollToTop()"
                            class="hidden fixed z-50 top-5 left-1/2 transform -translate-x-1/2 p-3 border-0 w-30 h-11
                    rounded-xl shadow-sm bg-teal-300/80 hover:bg-teal-500 text-slate-900 text-lg font-semibold
                    duration-300 shadow-slate-700 slide-transition transition-all ">
                        <div class=" inline-flex">

                            <svg class="h-5 w-5 stroke-slate-900 text-center align-center" clip-rule="evenodd" fill-rule="evenodd"
                                stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m18.787 9.473s-4.505-4.502-6.259-6.255c-.147-.146-.339-.22-.53-.22-.192 0-.384.074-.531.22-1.753 1.753-6.256 6.252-6.256 6.252-.147.147-.219.339-.217.532.001.19.075.38.221.525.292.293.766.295 1.056.004l4.977-4.976v14.692c0 .414.336.75.75.75.413 0 .75-.336.75-.75v-14.692l4.978 4.978c.289.29.762.287 1.055-.006.145-.145.219-.335.221-.525.002-.192-.07-.384-.215-.529z"
                                    fill-rule="nonzero" />
                            </svg>
                            <span class="text-sm">Scroll to top</span>
                            </div>

                    </button>

                </div>
            </div>



        </main>


    </div>

</body>

</html>