<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{partial "site/head.html" .}}
</head>

<body class="bg-slate-900 leading-relaxed text-slate-400 selection:bg-teal-300 selection:text-teal-900">
    <div class="font-sans group/spotlight relative">
        <div id="glow_box" class="pointer-events-none position-fixed inset-0 z-30 transition duration-300 lg:absolute">
        </div>
        <div id="scroll-progress" class="bg-teal-400 h-0.5 fixed top-0 left-0 z-50">
        </div>
        <main>
            <div class="mx-auto max-w-3xl px-4">
                <article>
                    <div>
                        <header class="pt-16 md:pt-20 lg:pt-28 mb-10 md:mb-20">
                            {{partial "site/breadcrumb.html" .}}
                            <h1
                                class="text-3xl font-semibold tracking-tight leading-tight md:text-4xl lg:text-4xl text-slate-200">
                                {{.Title}} </h1>
                            <div class="text-gray-400 mt-6">
                                <time>{{.Date.Format "Jan 02, 2006"}}</time> — <span> {{.ReadingTime}}
                                    min read</span> — {{ range .Params.Categories}}<a
                                    class="group mb-2 inline-flex items-center font-semibold leading-tight text-teal-300 underline-offset-2 hover:underline-offset-4 transition-all  !no-underline hover:!underline"
                                    href="{{ site.BaseURL  }}categories/{{. | urlize}}">{{.}}</a>{{end}}
                            </div>
                        </header>
                        <div
                            class="prose prose-invert md:prose-lg article prose-headings:font-semibold mt-6 prose-headings:text-white prose-a:text-underline prose-a:underline-offset-2 transition-all prose-figure:object-center">
                            {{ if .Params.cover}}
                            <img src="{{.Params.cover}}" alt="">

                            {{end}}

                            {{ .Content | safeHTML | emojify }}

                        </div>
                    </div>
                </article>
                <div class="flex justify-between gap-2 flex-wrap py-5 mt-5">
                    <div class="tags inline-flex justify-left gap-2 flex-wrap">
                        {{ range .Params.Tags}}
                        <a class="bg-teal-400/20 rounded-full px-3 py-2 text-sm text-teal-300 hover:bg-teal-400/30 hover:text-white hover:transition-all"
                            href="{{ site.BaseURL  }}tags/{{. | urlize}}"> <span>{{.}}</span></a>
                        {{end}}
                    </div>

                    <p class="text-right text-md">Last Updated: {{.Lastmod.Format "02 Jan, 2006"}}</p>
                </div>
                {{partial "site/article_footer.html" $.Site.Data}}
                <button id="to-top-button" onclick="scrollToTop()" title="Go To Top"
                    class="hidden fixed z-50 bottom-10 right-10 lg:bottom:20 lg:right:20 sm:bottom:5 sm:right:5 md:bottom:5 md:right:5 p-3 border-0 w-11 h-11 rounded-full shadow-md bg-teal-300 hover:bg-teal-500 text-white text-lg font-semibold transition-colors duration-300">
                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m18.787 9.473s-4.505-4.502-6.259-6.255c-.147-.146-.339-.22-.53-.22-.192 0-.384.074-.531.22-1.753 1.753-6.256 6.252-6.256 6.252-.147.147-.219.339-.217.532.001.19.075.38.221.525.292.293.766.295 1.056.004l4.977-4.976v14.692c0 .414.336.75.75.75.413 0 .75-.336.75-.75v-14.692l4.978 4.978c.289.29.762.287 1.055-.006.145-.145.219-.335.221-.525.002-.192-.07-.384-.215-.529z"
                            fill-rule="nonzero" />
                    </svg>
                    <span class="sr-only">Go to top</span>
                </button>

            </div>



        </main>


    </div>

</body>

</html>