<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{partial "site/head.html" .}}
</head>

<body class="bg-slate-900 leading-relaxed text-slate-400 selection:bg-teal-300 selection:text-teal-900">
    <div class="font-sans group/spotlight relative">
        <div id="glow_box" class="pointer-events-none position-fixed inset-0 z-30 transition duration-300 lg:absolute">
        </div>
        <div id="scroll-progress" class="bg-teal-400 h-0.5 fixed top-0 left-0 z-50">
        </div>
        <main>
            <div class="mx-auto max-w-3xl px-4">
                <article>
                    <div>
                        <header class="pt-16 md:pt-20 lg:pt-28 mb-8 md:mb-16">
                            {{partial "site/breadcrumb.html" .}}
                            <h1
                                class="text-3xl font-semibold tracking-tight leading-tight md:text-4xl lg:text-4xl text-slate-200">
                                {{.Title}} </h1>
                            <div class="text-gray-400 mt-6 inline-flex flex-row gap-3 items-center font-medium">
                                <time>{{.Date.Format "Jan 02, 2006"}}</time> •
                                <p class="inline-flex items-center gap-2">
                                    <svg class="h-4 w-4 fill-current opacity-75 font-medium" viewBox="0 0 576 512">
                                        <path
                                            d="M540.9 56.77c-45.95-16.66-90.23-24.09-129.1-24.75-60.7.94-102.7 17.45-123.8 27.72-21.1-10.27-64.1-26.8-123.2-27.74-40-.05-84.4 8.35-129.7 24.77C14.18 64.33 0 84.41 0 106.7v302.9c0 14.66 6.875 28.06 18.89 36.8 11.81 8.531 26.64 10.98 40.73 6.781 118.9-36.34 209.3 19.05 214.3 22.19C277.8 477.6 281.2 480 287.1 480c6.52 0 10.12-2.373 14.07-4.578 10.78-6.688 98.3-57.66 214.3-22.27 14.11 4.25 28.86 1.75 40.75-6.812C569.1 437.6 576 424.2 576 409.6V106.7c0-22.28-14.2-42.35-35.1-49.93zM272 438.1c-24.95-12.03-71.01-29.37-130.5-29.37-27.83 0-58.5 3.812-91.19 13.77-4.406 1.344-9 .594-12.69-2.047C34.02 417.8 32 413.1 32 409.6V106.7c0-8.859 5.562-16.83 13.86-19.83C87.66 71.7 127.9 63.95 164.5 64c51.8.81 89.7 15.26 107.5 23.66V438.1zm272-28.5c0 4.375-2.016 8.234-5.594 10.84-3.766 2.703-8.297 3.422-12.69 2.125C424.1 391.6 341.3 420.4 304 438.3V87.66c17.8-8.4 55.7-22.85 107.4-23.66 35.31-.063 76.34 7.484 118.8 22.88 8.2 3 13.8 10.96 13.8 19.82v302.9z">
                                        </path>
                                    </svg><span>{{.ReadingTime}}
                                        min read</span>

                            </div>
                        </header>
                        <div
                            class="prose prose-invert md:prose-lg article prose-headings:font-semibold mt-6 prose-headings:text-white prose-a:text-underline prose-a:underline-offset-2 transition-all prose-figure:object-center prose-hr:m-0 prose-figcaption:text-center prose-figcaption:italic prose-blockquote:text-2xl prose-blockquote:text-center prose-blockquote:border-none md:prose-th:px-6 prose-th:py-3 prose-thead:bg-gray-800 prose-thead:uppercase prose-thead:text-sm md:prose-td:px-6 prose-td:py-4 even:prose-tr:bg-gray-800   prose-td:border-slate-900 prose-td:border-4 prose-th:border-slate-900 prose-th:border-4">
                            {{ if .Params.cover}}
                            <figure>
                                <img src="{{.Params.cover}}" alt="">
                                <figcaption>{{if .Params.caption}}{{.Params.caption}}{{else}}{{end}}</figcaption>
                            </figure>


                            {{end}}

                            {{ .Content | safeHTML | emojify }}

                        </div>
                    </div>
                </article>
                <div class="flex justify-between gap-2 flex-wrap py-5 mt-5">
                    <div class="tags inline-flex justify-left gap-2 flex-wrap">
                        {{ range .Params.Tags}}
                        <a class="bg-teal-400/20 rounded-full px-3 py-2 text-sm text-teal-300 hover:bg-teal-400/30 hover:text-white hover:transition-all"
                            href="{{ site.BaseURL  }}tags/{{. | urlize}}"> <span>{{.}}</span></a>
                        {{end}}
                    </div>

                    <p class="text-right text-md">Last Updated: {{.Lastmod.Format "02 Jan, 2006"}}</p>
                </div>
                {{partial "site/article_footer.html" $.Site.Data}}
                <button id="to-top-button" onclick="scrollToTop()" class="hidden fixed z-50 top-5 left-1/2 transform -translate-x-1/2 p-3 border-0 w-30 h-11
                    rounded-xl shadow-sm bg-teal-300/80 hover:bg-teal-500 text-slate-900 text-lg font-semibold
                    duration-300 shadow-slate-700 slide-transition transition-all ">
                    <div class=" inline-flex">

                        <svg class="h-5 w-5 stroke-slate-900 text-center align-center" clip-rule="evenodd"
                            fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m18.787 9.473s-4.505-4.502-6.259-6.255c-.147-.146-.339-.22-.53-.22-.192 0-.384.074-.531.22-1.753 1.753-6.256 6.252-6.256 6.252-.147.147-.219.339-.217.532.001.19.075.38.221.525.292.293.766.295 1.056.004l4.977-4.976v14.692c0 .414.336.75.75.75.413 0 .75-.336.75-.75v-14.692l4.978 4.978c.289.29.762.287 1.055-.006.145-.145.219-.335.221-.525.002-.192-.07-.384-.215-.529z"
                                fill-rule="nonzero" />
                        </svg>
                        <span class="text-sm">Scroll to top</span>
                    </div>

                </button>

            </div>



        </main>


    </div>

</body>

</html>