@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Computer Math";
    src: url("/fonts/cmunti.ttf") format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}



@font-face {
    font-family: Geist;
    src: url("/fonts/GeistVF.woff2") format('woff2'),
        url("/fonts/GeistVF.woff") format('woff'),
        url("/fonts/GeistVF.ttf") format('truetype');
    font-weight: 100 900;
    font-display: swap;
}


@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMonoVF.woff2") format('woff2'),
        url("/fonts/GeistMonoVF.woff") format('woff'),
        url("/fonts/GeistMonoVF.ttf") format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

.katex .mathnormal {
    font-family: "Computer Math";
}

.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 1rem;
}

.copy-code-btn {
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}


.go-to-top.active {
    opacity: 1;
    visibility: visible;
}


.link,
.article a {
    --tw-text-opacity: 1;
    color: rgb(94 234 212 / var(--tw-text-opacity));
    text-decoration-color: rgba(94, 234, 213, 0.36);
}

@media (prefers-color-scheme: dark) {

    .link,
    .article a {
        --tw-text-opacity: 1;
        color: rgb(94 234 212 / var(--tw-text-opacity))
    }
}

.link,
.article a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: .2ex;
    transition: color .3s, text-decoration-color .2s, text-underline-offset .2s
}

.link:hover,
.article a:hover {
    --tw-text-opacity: 1;
    color: rgb(94 234 212 / var(--tw-text-opacity));
    text-decoration-color: #5eead4
}

@media (prefers-color-scheme: dark) {

    .link:hover,
    .article a:hover {
        --tw-text-opacity: 1;
        color: rgb(94 234 212 / var(--tw-text-opacity));
    }
}

.link:hover,
.article a:hover {
    text-underline-offset: .4em
}

code {
    text-wrap: wrap;
}

a[aria-label="Anchor"] {
    display: none;
}

#glow_box {
    background: var(--bg-gradient);
}

.active .nav-indicator {
    width: 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240/var(--tw-bg-opacity))
}

.active .nav-text {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}