<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{partial "site/head.html" .}}
</head>

<body class="bg-slate-900 leading-relaxed text-slate-400 selection:bg-teal-300 selection:text-teal-900">
    <div class="font-sans group/spotlight relative">
        <div id="glow_box" class="pointer-events-none position-fixed inset-0 z-30 transition duration-300 lg:absolute">
        </div>
        <main>
            <div class="mx-auto max-w-3xl px-4">
                <article>
                    <div>
                        <header class="pt-16 md:pt-20 lg:pt-28 mb-10 md:mb-20">
                            <a class="group mb-2 inline-flex items-center font-semibold leading-tight text-teal-300"
                                href="{{.Site.BaseURL}}blog/"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor"
                                    class="mr-1 h-4 w-4 rotate-180 transition-transform group-hover:-translate-x-2"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                                        clip-rule="evenodd"></path>
                                </svg>Blog</a>
                            <h1
                                class="text-3xl font-semibold tracking-tight leading-tight text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
                                {{.Title}} </h1>
                            <div class="text-gray-400 mt-6">
                                <time>{{.Date.Format "Jan 02, 2006"}}</time> — <span> {{.ReadingTime}}
                                    mins read</span> — {{ range .Params.Categories}}<a
                                    class="group mb-2 inline-flex items-center font-semibold leading-tight text-teal-300"
                                    href="{{ site.BaseURL  }}categories/{{. | urlize}}">{{.}}</a>{{end}}
                            </div>
                        </header>
                        <div class="prose md:prose-lg dark:prose-invert article prose-headings:font-semibold mt-6">
                            {{ if .Params.cover}}
                            <img src="{{.Params.cover}}" alt="">

                            {{end}}

                            {{ .Content | safeHTML | emojify }}

                        </div>
                    </div>
                </article>
            </div>
            {{partial "site/article_footer.html" $.Site.Data}}
            <button id="to-top-button" onclick="scrollToTop()" title="Go To Top"
                class="hidden fixed z-50 bottom-10 right-10 lg:bottom:20 lg:right:20 sm:bottom:5 sm:right:5 md:bottom:5 md:right:5 p-3 border-0 w-11 h-11 rounded-full shadow-md bg-teal-300 hover:bg-teal-500 text-white text-lg font-semibold transition-colors duration-300">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m18.787 9.473s-4.505-4.502-6.259-6.255c-.147-.146-.339-.22-.53-.22-.192 0-.384.074-.531.22-1.753 1.753-6.256 6.252-6.256 6.252-.147.147-.219.339-.217.532.001.19.075.38.221.525.292.293.766.295 1.056.004l4.977-4.976v14.692c0 .414.336.75.75.75.413 0 .75-.336.75-.75v-14.692l4.978 4.978c.289.29.762.287 1.055-.006.145-.145.219-.335.221-.525.002-.192-.07-.384-.215-.529z"
                        fill-rule="nonzero" />
                </svg>
                <span class="sr-only">Go to top</span>
            </button>
        </main>


    </div>

</body>

</html>