<!DOCTYPE html>
<html lang="en" class="scroll-smooth focus:scroll-auto">

<head>
    {{ partial "site/head.html" .}}
</head>

<body class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900">
    <div id="__next">
        <div class="font-sans group/spotlight relative">
            <div id="glow_box"
                class="pointer-events-none position-fixed inset-0 z-30 transition duration-300 lg:absolute">
            </div>
            <div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
                <a href="#content"
                    class="absolute left-0 top-0 block -translate-x-full rounded bg-gradient-to-br from-teal-400 via-blue-500 to-purple-600 px-4 py-3 text-sm font-bold uppercase tracking-widest text-white focus-visible:translate-x-0">Skip
                    to Content</a>
                <div class="lg:flex lg:justify-between lg:gap-4">

                    <!-- HEADER -->

                    {{partial "site/header.html" $.Site.Data .}}

                    <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
                        <!-- aboot -->
                        {{partial "site/about.html" $.Site.Data .}}
                        <!-- expericnce -->
                        {{partial "site/experience.html" $.Site.Data .}}
                        {{partial "site/projects.html" $.Site.Data .}}
                        {{partial "site/writing.html" .}}
                        {{partial "site/footer.html"}}

                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>